.header {
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(14, 14, 14, 1);
}

.header-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.header-container__use-current-location-button {
    width: 40px;
    height: 40px;
}

.searchbar {
    display: flex;
    flex-direction: row;
}

.searchbar__input {
    width: 15vw;
    height: 40px;
    padding-left: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(159, 163, 167, 0.1);
    border: solid aliceblue 2px;
    border-radius: 20px;
    color: aliceblue;
    font-size: 20px;
}

.searchbar__search-button {
    width: 40px;
    height: 40px;
    margin-left: -40px;
}

.forecast-duration {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: gray;
    border-radius: 5px;
}

.forecast-duration__switcher {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.forecast-duration__switcher_inactive {
    background-color: gray;
}